
/* !=== FONTS =================================================================================== */
@font-face {
  font-family: "metropolisbold";
  src: url("../font/metropolis-bold-webfont.woff2") format("woff2"),
    url("../font/metropolis-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolismedium";
  src: url("../font/metropolis-medium-webfont.woff2") format("woff2"),
    url("../font/metropolis-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolissemi_bold";
  src: url("../font/metropolis-semibold-webfont.woff2") format("woff2"),
    url("../font/metropolis-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* !=== FONTS END =================================================================================== */


*,body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: currentColor;
}
ul,ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  transition: 0.2s all;
}
* {
  font-family: var(--font_medium);


  /* background: rgba(255, 0, 0, 0.084); */
  /* outline: 1px solid red; */
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
   --primary: #2C5FF6;
   --dark: #1F2041;    
   --black: #000000;
   --white: #FFFFFF;    
   --gary: #707070;    


   --font_semi_bold: "metropolissemi_bold";
   --font_medium: "metropolismedium";
   --font_bold: "metropolisbold";
}


.social_link_icon {
  width: 51.01px;
  height: 51.01px;
  background: var(--white);
  box-shadow: 0px 3px 37px rgba(7, 21, 61, 0.15);
  border-radius: 50%;
  transition: 0.3s all;
  /* add Class flex-c  */
}
.social_link_icon .icon.play-store {
  width: 20px;
  height: 20px;
}
.social_link_icon .icon.apple {
  width: 22px;
  height: 22px;
}

/* !=== line border after  */
.after_border {
  position: relative;
}
.after_border::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 207px;
  height: 17.09px;
  background-image: url(../img/border.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
/* ! WEB-TITTLE BIG */
.font_xxl {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 111.5%;
  letter-spacing: -0.01em;
  color: var(--dark);
}
.font_18 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: -0.01em;
  color: var(--dark);
  padding: 10px !important;
  margin-right: 20px;
}

.btn_solid {
  padding: 16px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  box-shadow: 0px 13.434px 39.1824px rgba(21, 76, 238, 0.21);
  border-radius: 12px;
  /* ___  */
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--white);
}
.btn_solid.outline {
  border: 2px solid var(--primary);
  background: transparent;
  filter: drop-shadow(0px 13.434px 39.1824px rgba(21, 76, 238, 0.21));
  box-shadow: none;
  color: var(--primary);
}


/* !=== HEADER ==================  */
header {
  padding-block: 31px;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.navbar-collapse {
  flex-basis: auto;
  flex-grow: 0;
  /* CHANGE TO SMALL SCREEN DEFAULTS  */
}
.navbar-brand {
  max-width: 148px;
}
.navbar-nav .nav-item .nav-link {
  color: var(--dark);
  font-family: var(--font_semi_bold);
}
.navbar-nav .nav-item .nav-link:hover{
  color: var(--primary);
}
.navbar-nav.end .btn_solid {
  margin-left: 55px;
  font-family: var(--font_semi_bold);
}
.navbar-nav.end {
  grid-column-gap: 13px;
}
.navbar-nav.end .social_link_icon:hover {
  background: var(--primary);
  transition: 0.3s all;
}
.navbar-nav.end .social_link_icon:hover img {
  transition: 0.3s all;
  filter: invert(100%);
}
.navbar-nav.end .btn_solid:hover {
  color: var(--white);
}


/* !=== HERO ==================================================  */
.hero {
  min-height: fit-content;
  padding-top: 161px;
  position: relative;
  padding-bottom: 100px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 120px;
  height: 440px;
  background-image: url(../img/before_section.webp);
  background-size: cover;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 62%;
  height: 100vh;
  background-image: url(../img/hero__lines.webp);
  background-size: cover;
  z-index: -1;
  /* outline: 1px solid red; */
}
.hero_tittle {
  margin-bottom: 43px;
  font-family: var(--font_bold);
}
.hero_img {
  width: 100%;
  /* width: 820px; */
  width: 880px;
  position: absolute;
  right: -3%;
}
.hero_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 517.52px;
  top: 0;
  left:  30%;
  background-image: url(../img/bg-adjustment.webp);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero_img_powered {
  font-weight: var(--font_medium);
  font-weight: 500;
  font-size: 18px;
  line-height: 96%;
  position: absolute;
  /* bottom: -15px; */
  bottom: -50px;
  right: 5%;
  z-index: 99;
}
.hero_img_powered span {
  display: inline-block;
  width: 18px;
  margin-inline: 2px;
}
/* ! HERO TITTLE AFTER  */
.hero_tittle_after {
  position: relative;
  font-family: var(--font_bold);
}
.hero_tittle_after::after {
  content: "";
  position: absolute;
  bottom: -25%;
  right: 0%;
  width: 100%;
  max-width: 207px;
  height: 17.09px;
  background-image: url(../img/border.webp);
  background-size: cover;
}
.hero_content {
  margin-bottom: 38px;
}
.hero_btns {
  display: flex;
  align-items: center;
  grid-column-gap: 24.5px;
  margin-bottom: 57px;
}


/* RATING START TITTLE  */
.rating_tittle {
  display: flex;
  align-items: center;
  color: var(--dark);
  font-family: var(--font_medium);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 18.5px;
}
.rating_tittle span {
  width: 23px;
  height: 23px;
  filter: drop-shadow(0px 4px 4px rgba(255, 200, 0, 0.3));
  margin-right: 9px;
}
.hero_rating_circle {
  display: flex;
  align-items: center;
}
.rating_circle_img {
  width: 37.17px;
  height: 37.17px;
  margin-left: -7px;
}
.rating_text {
  margin-left: 10px;
  font-family: var(--font_medium);
}


/* CARD WORK OUT  */
.workout {
  height: 100%;
  position: relative;
}
.workout::after {
  content: "";
  position: absolute;
  background-image: url(../img/workout_after.webp);
  background-size: cover;
  right: 0;
  width: 70%;
  height: 100%;
  bottom: 1%;
  z-index: -1;

}
.workout_card {
  border-radius: 32px;
  background-image: url(../img/card-1.webp);
  background-size: cover;
  width: 371px;
  height: 225px;
  padding: 33px 39px;
  margin-bottom: 60px;
}

.workout_card.two {
  background-image: url(../img/card-2.webp);
}
.workout_card.two .workout_card_img{
  right: 10px;
}
.workout_card.workout_card.three .workout_card_img{
  right: 0px;
}
.workout_card.three {
  background-image: url(../img/card-3.webp);
}
.workout_card_content_tittle {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: var(--dark);
  font-family: var(--font_bold);
  margin-bottom: 15px;
}
.workout_card_content_lite {
  font-family: var(--font_semi_bold);
  font-weight: 600;
  font-size: 15.5;
  line-height: 127.5%;
  letter-spacing: -0.01em;
  color: var(--gary);
  margin-bottom: 24px;
}



.workout_card_btns {
  display: flex;
  align-items: center;
  grid-column-gap: 10.93px;
}
.workout_card_btn {
  display: flex;
  align-items: center;
  padding: 8.13px 10.77px;
  padding-right:15px;

  font-family: var(--font_semi_bold);
  font-weight: 600;
  font-size: 14.746px;
  line-height: 127.5%;
  letter-spacing: -0.01em;
  color: var(--black);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4.77851px);
  width: fit-content;
  border-radius: 41px;
}
.workout_card_btn span {
  width: 20.68px;
  height: 20.68px;
  margin-right: 4.92px;
  filter: drop-shadow(0px 2px 2px rgba(255, 200, 0, 0.3));
}
.workout_card {
  position: relative;
}
.workout_card_img {
  position: absolute;
  right: 20px;
  width: 210px;
  bottom: 1px;
  z-index: 1;
}
.workout_card_content {
  position: relative;
  z-index: 2;
}


.workout_tittle {
  font-family: var(--font_bold);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--dark);
  margin-bottom: 50px;
}
.workout_tittle span {
  font-family: var(--font_bold);
  font-weight: 700;
}


.workout_tittle .after_border::after {
  content: "";
  position: absolute;
  bottom: -30%;
  right: 0%;
  width: 105px !important;
  height: 14.68px;
  background-image: url(../img/border.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}